%h1
  %span
    = resource_class.model_name.human(count: :other)
  .pull-right
    = bootstrap_button(to: new_resource_path, context: :success) do
      = fa_icon(:plus)
      = t('.new')



= collection_table(collection: @collection) do |t|
  = render 'table',         table: t
  = render 'table_actions', table: t